
@font-face {
    font-family:Kanit-B;
    src: url('fonts/Kanit-Medium.ttf');
    font-display: swap;
    font-weight: normal;
}


@font-face {
    font-family:Kanit;
    src: url('fonts/Kanit-Regular.ttf');
    font-display: swap;
    font-weight: normal;
    font-weight: normal;
}

@font-face {
    font-family:Kanit-L;
    src: url('fonts/Kanit-Light.ttf');
    font-display: swap;
}

