
@font-face {
    font-family:Lato-B;
    src: url('fonts/Lato/Lato\ Black.ttf');
    font-display: swap;
    font-weight: normal;
}


@font-face {
    font-family:Lato-R;
    src: url('fonts/Lato/Lato\ Bold.ttf');
    font-display: swap;
    font-weight: normal;
    font-weight: normal;
}

@font-face {
    font-family:Lato;
    src: url('fonts/Lato/Lato\ Medium.ttf');
    font-display: swap;
}

