<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Kata edu</title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
  <meta name="theme-color" content="#0099ff" />
  <meta http-equiv="Content-Language" content="VN" />
  <meta name="description" content="Kata edu" />
  <meta name="keywords" content="" />
  <meta property="og:url" name="og:url" content="" data-app />
  <meta property="og:type" name="og:type" content="website" data-app />
  <meta property="og:description" name="og:description" content="Kata edu" data-app />
  <meta property="og:title" name="og:title" content="Kata edu" data-app />
  <meta property="og:image" name="og:image" content="http://tonvietphap.24h.co/uploaded/logo/logo.png" data-app />

  <link href="/favicon.png" rel="shortcut icon" />

  <link rel="stylesheet" type="text/css" href="/css/style.css" />

  <link rel="stylesheet" type="text/css" href="/css/grid.css" />
  <link rel="stylesheet" type="text/css" href="/css/responsive.css" />
  <link rel="stylesheet" type="text/css" href="/css/swiper.css" />

  <link rel="stylesheet" type="text/css" href="/css/font.css" />
  <link rel="stylesheet" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/jquery.mmenu.all.css" />
  <link rel="stylesheet" href="/css/jquery-ui.css" />
  <script src="/js/jquery-1.10.1.min.js"></script>
  
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

  <script src="/js/script.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/jquery.form.min.js"></script>
  <script src="/js/jquery.mmenu.min.all.js"></script>
</head>

<body>



<div id="page">

  <div class="topheader">
    <div class="grid">
      <div class="flex-container align-center">
          <div class="cell-1-4">
            <a href="/">
              <img src="/uploaded/logo/logo.png" alt="LogoSite" ></a>
          </div>
          <div class="cell-3-4">
           <div class="flex-container flex-flex-end">
        
             <div class="header-phone">
              <i class="fas fa-phone-alt"></i> 028.145.684.325 (HN)  -  024.320.777.99 (TP. HCM)
             </div>
              &#10072;
              <div class="header-email">
                <i class="far fa-envelope"></i>  info@company.vn
              </div>
            
          
           
         
            <ul class="social">

              <li class="facebook">
                  <a href="https://www.facebook.com/CtyRelinesHrs" class="footer-social__item">
                      <i class="fab fa-facebook-f"></i>
                  </a>
              </li>
              <li class="youtube">
                  <a href="https://www.youtube.com/@RelinesHrs" class="footer-social__item">
                      <i class="fab fa-youtube"></i>
                  </a>
              </li>

              <li class="instagram">
                  <a href="#Instagram" class="footer-social__item">
                      <i class="fab fa-twitter"></i>
                  </a>
              </li>

          </ul>
          </div>
      </div>
    </div>
</div>
</div>
    <!-- header pc -->
    <header class="header hide-on-pad hide-on-tab">
    
      
      <div class="grid">
        
        <div class="flex-container align-center">
            
           <div class="cell-4-5">
            <div class="menubar">
                <ul class="nav  hide-on-mobile">
                <li class=" active "> <a href="/" class=""><span style="background-image:url()">Trang chủ </span></a>

                </li>

                <li class=" "> <a href="/" class=""><span style="background-image:url()">Giới thiệu </span></a>

                </li>
                
                <li class=" "> <a href="/linh-vuc-hoat-dong/" class=""><span style="background-image:url()">Khóa học </span></a>
                
                
                
               
                    
                    
                    
                </li>
                <li class=""> <a href="/cong-ty-thanh-vien/" class=""><span style="background-image:url()">Lịch khai giảng </span></a>                </li>
                <li class=" "> <a href="/tin-tuc-su-kien/" class=""><span style="background-image:url()">Đào tạo nội bộ </span></a>
                      
                    
                </li>
              
                <li class=" "> 
                  <a href="/lien-he/" class=""><span style="background-image:url()">Tin tức </span></a> 
                  
                  <ul class="submnu1">
                    <li class=""><a href="/tin-thi-truong/">Tin thị trường</a>
                    </li>
                    <li class=""><a href="/tin-doanh-nghiep/">Tin doanh nghiệp</a>
                    </li>
                </ul>
                </li>
                <li class=" "> 
                  <a href="/lien-he/" class=""><span style="background-image:url()">Liên hệ </span></a> 
                  
                 
                </li>
                </ul>
               
          
            </div>
           </div>
           <div class="cell-1-5">

            <div class="icon-search" >
              <!-- <i class="fa fa-search search-icon" aria-hidden="true"></i> -->
               <div class="search-pc" style="">
                   <form action="/search/" method="get" id="searchformtab">
                       <input name="qr" id="qr_search" class="kw-mobile" placeholder="Tìm kiếm" type="text">
                           <a href="#" class="submit-search-pc" onClick=""> 
                               <i class="fa fa-search" aria-hidden="true"></i> </a>
<!-- 
                           <a href="#" class="closeX" onClick="$('.search-pc').hide(); return false;">&#10005;</a>         -->
                   </form>
               </div>

               <script type="text/javascript">

                   $(".submit-search-pc").click(function(){
                     if ($("#qr_search").val() != "")
                       $('#searchformtab').submit(); return false;
                   
                   });

                   $(document).ready(function () {
                       $(".search-icon").click(function () {
                           $(".search-pc").stop().slideToggle("fast");
                           return false;
                       });
                   });
               </script>  	
             </div>
             
           </div>

           

          </div>
        </div>
      <div class="c"></div>
    </header>
    <!-- end header pc -->
    <header class="header hide-on-pc error">
      <div class="mobile-bar hide-on-pc">
        <div class="grid">
            <div class="flex-container align-center">
                <div class="cell-1-3">
                   
                    <a class="menu-mobile" href="#menu">
                      <i class="fas fa-bars"></i>
                   </a>
                   
                </div>
                <div class="cell-1-3">
                 
                  <div class="logo">
                      <a href="/">
                        <img src="/uploaded/logo/Logo_full 1.png" alt="Logo web" style="max-width: 100%; margin: 0 auto" />
                      </a>
                  </div>
                 
              </div>
              <div class="cell-1-3">
                <div class="cart">
                  <a href="#"> <span class="cartnumber">20</span>   <img src="/images/shoppingbag.png" alt=""></a>   
              </div>
                <div class="icon-search search-mb" >
                  <i class="fa fa-search search-iconmb" aria-hidden="true"></i>
                    <div class="frm-search-mb" style="">
                     <form action="/search/" method="get" id="searchformtab">
                        <input name="qr" class="kw-mobile" placeholder="Tìm kiếm " type="text">
                        <a href="#" class="submit-search-pc" onClick="$('#searchformtab').submit(); return false;"> 
                          <i class="fa fa-search" aria-hidden="true"></i> </a>
  
                        <a href="#" class="closeX" onClick="$('.frm-search-mb').hide(); return false;">&#10005;</a>        
                      </form>
                    </div> 
                    
                    <script type="text/javascript">
                      $(document).ready(function () {
                      $(".search-iconmb").click(function () {
                        $(".frm-search-mb").stop().slideToggle("fast");
                        return false;
                      });
                      });
                    </script>  	
                   </div>
               
            </div>
            </div>
        </div>
        <div class="c"></div>
    </div>

    </header>
    <!-- content -->
    <div class="content">

          <!-- slideshow -->
          <div class="swiper-container" id="slide_home">
            <!-- <div class="swiper-pagination"></div> -->
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <d  iv class="slidehome">
                  <img class="hide-on-mobile" src="/uploaded/slideshow/item1.png" alt="" style="width: 100%" />
                  
                  <div class="slidehome-content">
                    <div class="grid">
                        <div class="flex-container">
                            <div class="cell-1-2 tab-cell-1-1">
                             <div class="slide-content">
                              <h2>
                                Lorem ipsum dolor sit amet consectetu  
                               </h2> 
                               <div class="c20"></div> 
                                <p class="slidehome-content-intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquauis ipsum suspendisse</p>
                                 
                             </div>
                          </div>
                    </div>
                </div>
                </div>
              </div>
            
            </div>
            <!-- <div class="swiper-pagination"></div> -->
            <script>
              $(function () {
                var swiper_slide_home = new Swiper("#slide_home", {
                  loop: true,
                  slidesPerView: 1,
                  autoplay: {
                    simulateTouch: true,
                    delay: 5000000,
                    disableOnInteraction: false,
                  },
                  spaceBetween: 0,
                  // navigation: {
                  //   nextEl: ".swiper-button-next",
                  //   prevEl: ".swiper-button-prev",
                  // },
                  pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                  },
                  speed: 500,
                  spaceBetween: 0,
                });
    
                $("#slide_home").on("mouseover", function () {
                  swiper_slide_home.autoplay.stop();
                });
                $("#slide_home").on("mouseout", function () {
                  swiper_slide_home.autoplay.start();
                });
              });
            </script>
          </div>
          <!-- end slideshow -->
          <!-- homeinfo -->
      
           
            <div class="homeinfo-wrapper">
                <div class="grid">
                    <div class="homeinfo">
                      <div class="flex-container">
                        <div class="cell-1-3 tab-cell-1-1 pad-cell-1-2">
                            <div class="homeinfo-item">
                              <div class="homeinfo-item-img">
                                <img src="/uploaded/ico/gioithieu (1).png" alt="">
                              </div>
                                <div class="homeinfo-item--desc">
                                <h3 class="homeinfo-item-name">
                                  
                                  <a href="#">Giảng viên uy tín</a>
                                </h3>
                                <div class="homeinfo-intro text-line-2">
                                  Lorem ipsum dolor amet consec tetur apisca  ling elit se do eiusmod amet conse tempor...
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="cell-1-3 tab-cell-1-1 pad-cell-1-2">
                          <div class="homeinfo-item">
                            <div class="homeinfo-item-img">
                              <img src="/uploaded/ico/gioithieu (2).png" alt="">
                            </div>
                              <div class="homeinfo-item--desc">
                              <h3 class="homeinfo-item-name">
                                
                                <a href="#">Nội dung sáng tạo</a>
                              </h3>
                              <div class="homeinfo-intro text-line-2">
                                Lorem ipsum dolor amet consec tetur apisca  ling elit se do eiusmod amet conse tempor...
                              </div>
                              </div>
                          </div>
                      </div>
                      <div class="cell-1-3 tab-cell-1-1 pad-cell-1-2">
                        <div class="homeinfo-item">
                          <div class="homeinfo-item-img">
                            <img src="/uploaded/ico/gioithieu (3).png" alt="">
                          </div>
                            <div class="homeinfo-item--desc">
                            <h3 class="homeinfo-item-name">
                              
                              <a href="#">Support mãi mãi</a>
                            </h3>
                            <div class="homeinfo-intro text-line-2">
                              Lorem ipsum dolor amet consec tetur apisca  ling elit se do eiusmod amet conse tempor...
                            </div>
                            </div>
                        </div>
                    </div>
                    </div>
                  </div>
                 
                
                </div>
              <div class="c30"></div>
              
            </div>
          <!-- homeinfo -->
        <!-- san pham noi bat -->
            <div class="homeproduct-wrapper">
              <div class="c20 hide-on-mobile"></div>
              <div class="c30"></div>
                <div class="grid">
                  <div class="homecat-title--spc">
                    <a href="#">Khóa học sắp khai giảng</a>
                </div>
                <div class="c30"></div>

                <div class="flex-container" style="position: relative;">
                  <div class="swiper swiper-container swiper-product">
                
                    <div class="swiper-wrapper">
                      <div class="swiper-slide item-homeproduct">
                        
                          <div class="homeproduct-img">
                              <a href="#" class="img-shine">
                                <img src="/uploaded/san-pham/item2.png" alt="">
                              </a>
                          </div>
                          <div class="homeproduct-content">
                              <h2 class="homeproduct-name text-line-2">
                                  <a href="#">
                                    Marketing cơ bản
                                  </a>
                              </h2>
                              <div class="homeproduct-intro text-line-2">
                                  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                              </div>
                                <div class="c10"></div>
                                <p><i class="far fa-clock"></i>  Khai giảng: <b> Thường xuyên</b></p>
                               <p> <i class="fas fa-map-marker-alt"></i>  Địa điểm học: <b> TP.Hồ Chí Minh</b> </p>
                               <div class="c10"></div>
                               <div class="btn-dangky">
                                   <a href="#"> Đăng ký học</a>
                               </div>
                               <div class="c30"></div>
                          </div>
                      </div>
                      
                      <div class="swiper-slide item-homeproduct">
                        
                        <div class="homeproduct-img">
                            <a href="#" class="img-shine">
                              <img src="/uploaded/san-pham/item1.png" alt="">
                            </a>
                        </div>
                        <div class="homeproduct-content">
                            <h2 class="homeproduct-name text-line-2">
                                <a href="#">
                                  Marketing cơ bản
                                </a>
                            </h2>
                            <div class="homeproduct-intro text-line-2">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            </div>
                              <div class="c10"></div>
                              <p><i class="far fa-clock"></i>  Khai giảng: <b> Thường xuyên</b></p>
                             <p> <i class="fas fa-map-marker-alt"></i>  Địa điểm học: <b> TP.Hồ Chí Minh</b> </p>
                             <div class="c10"></div>
                             <div class="btn-dangky">
                                 <a href="#"> Đăng ký học</a>
                             </div>
                             <div class="c30"></div>
                        </div>
                      </div>
                      <div class="swiper-slide item-homeproduct">
                          
                        <div class="homeproduct-img">
                            <a href="#" class="img-shine">
                              <img src="/uploaded/san-pham/item2.png" alt="">
                            </a>
                        </div>
                        <div class="homeproduct-content">
                            <h2 class="homeproduct-name text-line-2">
                                <a href="#">
                                  Marketing cơ bản
                                </a>
                            </h2>
                            <div class="homeproduct-intro text-line-2">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            </div>
                              <div class="c10"></div>
                              <p><i class="far fa-clock"></i>  Khai giảng: <b> Thường xuyên</b></p>
                            <p> <i class="fas fa-map-marker-alt"></i>  Địa điểm học: <b> TP.Hồ Chí Minh</b> </p>
                            <div class="c10"></div>
                            <div class="btn-dangky">
                                <a href="#"> Đăng ký học</a>
                            </div>
                            <div class="c30"></div>
                        </div>
                      </div>
                      <div class="swiper-slide item-homeproduct">
                            
                        <div class="homeproduct-img">
                            <a href="#" class="img-shine">
                              <img src="/uploaded/san-pham/item3.png" alt="">
                            </a>
                        </div>
                        <div class="homeproduct-content">
                            <h2 class="homeproduct-name text-line-2">
                                <a href="#">
                                  Marketing cơ bản
                                </a>
                            </h2>
                            <div class="homeproduct-intro text-line-2">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            </div>
                              <div class="c10"></div>
                              <p><i class="far fa-clock"></i>  Khai giảng: <b> Thường xuyên</b></p>
                            <p> <i class="fas fa-map-marker-alt"></i>  Địa điểm học: <b> TP.Hồ Chí Minh</b> </p>
                            <div class="c10"></div>
                            <div class="btn-dangky">
                                <a href="#"> Đăng ký học</a>
                            </div>
                            <div class="c30"></div>
                        </div>
                      </div>
                
                    </div>
                   
                  </div>
                 
                  <div class="swiperproduct-button-prev"> 
                    <i class="fas fa-chevron-left"></i>
                  </div>
                  <div class="swiperproduct-button-next">
                    <i class="fas fa-chevron-right"></i>
                  </div>
                  <script>
                    var swiper = new Swiper(".swiper-product", {
                      slidesPerView: 3,
                      spaceBetween: 30,
                      loop:true,
                      navigation: {
                        nextEl: ".swiperproduct-button-next",
                        prevEl: ".swiperproduct-button-prev",
                      },
                      breakpoints: {
                      640: {
                        slidesPerView: 1,
                        spaceBetween: 20,
                      },
                      768: {
                        slidesPerView: 1.5,
                        spaceBetween: 40,
                      },
                      1024: {
                        slidesPerView: 3,
                        spaceBetween: 50,
                      },
                      }
                    });
                  </script>
              </div>
            </div>
            <div class="c20 hide-on-mobile"></div>
            <div class="c30"></div>
            </div>
              <!-- home dich vu -->

          <div class="homeservice-wrapper">
              
              <div class="c20 hide-on-mobile"></div>
              <div class="c30"></div>
                <div class="grid">
                  <div class="homecat-title--spc">
                    <a href="#">Nội dung đào tạo</a>
                  </div>
              
                  <div class="homecat-intro">
                    Khoá học đào tạo nhân sự chất lượng cho các doanh nghiệp
                  </div>
                <div class="c30"></div>
                <div class="flex-container">
                    <div class="cell-1-3 tab-cell-1-1">
                        <div class="homeservice-item">
                          <a href="#" class="img-shine">
                              <img src="/uploaded/dich-vu/item (1).png" alt="">
                          </a>
                        <div class="homeservice-item--name">
                            <a href="#">
                              Marketing
                            </a>
                        </div>
                        </div>
                    </div>
                    <div class="cell-1-3 tab-cell-1-1">
                      <div class="homeservice-item">
                        <a href="#" class="img-shine">
                            <img src="/uploaded/dich-vu/item (2).png" alt="">
                        </a>
                      <div class="homeservice-item--name">
                          <a href="#">
                            Sale
                          </a>
                      </div>
                      </div>
                    </div>

                    <div class="cell-1-3 tab-cell-1-1">
                      <div class="homeservice-item">
                        <a href="#" class="img-shine">
                            <img src="/uploaded/dich-vu/item (3).png" alt="">
                        </a>
                      <div class="homeservice-item--name">
                          <a href="#">
                            Developer
                          </a>
                      </div>
                      </div>
                    </div>

                    <div class="cell-1-3 tab-cell-1-1">
                      <div class="homeservice-item">
                        <a href="#" class="img-shine">
                            <img src="/uploaded/dich-vu/item (4).png" alt="">
                        </a>
                      <div class="homeservice-item--name">
                          <a href="#">
                            SUPPLY CHAN
                          </a>
                      </div>
                      </div>
                    </div>

                    <div class="cell-1-3 tab-cell-1-1">
                      <div class="homeservice-item">
                        <a href="#" class="img-shine">
                            <img src="/uploaded/dich-vu/item (5).png" alt="">
                        </a>
                      <div class="homeservice-item--name">
                          <a href="#">
                            KẾ TOÁN
                          </a>
                      </div>
                      </div>
                    </div>

                    <div class="cell-1-3 tab-cell-1-1">
                      <div class="homeservice-item">
                        <a href="#" class="img-shine">
                            <img src="/uploaded/dich-vu/item (6).png" alt="">
                        </a>
                      <div class="homeservice-item--name">
                          <a href="#">
                            XUẤT NHẬP KHẨU
                          </a>
                      </div>
                      </div>
                    </div>

                    
                </div>
              </div>
            <div class="c20 hide-on-mobile"></div>
            
          </div>
            <!-- end home dich vu --> 
          <!-- lịch khai giảng -->

          <div class="homekhaigiang-wrapper">
              
            <div class="c20 hide-on-mobile"></div>
           
              <div class="grid">
                <div class="homecat-title--spc">
                  <a href="#">Lịch khai giảng</a>
                </div>
              <div class="c10"></div>
              <div class="c30"></div>
              <div class="homekhaigiang">
                <div class="menutab">
                  <div class="menutab-item actived">
                    <a class="" href="#">Cơ sở Hà Nội</a>
                  </div>
                  <div class="menutab-item  ">
                    <a class="" href="#">Cơ sở Tp.Hồ Chí Minh</a>
                  </div>
                  
                </div>
                <div class="c30"></div>
                <div class="homekhaigiang-item">
                      <div class="flex-container align-center">
                        <div class="cell-4-10 tab-cell-1-1">
                          <div class="homekhaigiang-item--name">
                            <a href="#">Khóa học Facebook Marketing từ A - Z, từ chiến lược đến
                              thực thi chỉ với 9 buổi </a>
                          </div>
                        </div>
                        <div class="cell-6-10 tab-cell-1-1">
                            <div class="homekhaigiang-item--desc">
                                <div class="homekhaigiang-item--date">22/10/2022</div>
                                <div class="homekhaigiang-item--time">
                                  8 Buổi
                                </div>
                                <div class="homekhaigiang-item--address">
                                  TP.Hồ chí minh
                              </div>
                              <div class="homekhaigiang-item--price">
                                <div class="price">4.000.000</div>
                                <div class="price-net">6.000.000</div>
                              </div>
                              <div class="homekhaigiang-item--dangky">
                                <a href="#"> Đăng Ký học</a>
                            </div>
                            </div>
                           
                        </div>
                       
                      </div>
                </div>
                  <div class="homekhaigiang-item">
                    <div class="flex-container align-center">
                      <div class="cell-4-10 tab-cell-1-1 tab-cell-1-1">
                        <div class="homekhaigiang-item--name">
                          <a href="#">Khóa học Facebook Marketing từ A - Z, từ chiến lược đến
                            thực thi chỉ với 9 buổi </a>
                        </div>
                      </div>
                      <div class="cell-6-10 tab-cell-1-1 tab-cell-1-1">
                          <div class="homekhaigiang-item--desc">
                              <div class="homekhaigiang-item--date">22/10/2022</div>
                              <div class="homekhaigiang-item--time">
                                8 Buổi
                              </div>
                              <div class="homekhaigiang-item--address">
                                TP.Hồ chí minh
                            </div>
                            <div class="homekhaigiang-item--price">
                              <div class="price">4.000.000</div>
                              <div class="price-net">6.000.000</div>
                            </div>
                            <div class="homekhaigiang-item--dangky">
                              <a href="#"> Đăng Ký học</a>
                          </div>
                          </div>
                        
                      </div>
                    
                    </div>
                  </div>
                  <div class="homekhaigiang-item">
                      <div class="flex-container align-center">
                        <div class="cell-4-10 tab-cell-1-1">
                          <div class="homekhaigiang-item--name">
                            <a href="#">Khóa học Facebook Marketing từ A - Z, từ chiến lược đến
                              thực thi chỉ với 9 buổi </a>
                          </div>
                        </div>
                        <div class="cell-6-10 tab-cell-1-1">
                            <div class="homekhaigiang-item--desc">
                                <div class="homekhaigiang-item--date">22/10/2022</div>
                                <div class="homekhaigiang-item--time">
                                  8 Buổi
                                </div>
                                <div class="homekhaigiang-item--address">
                                  TP.Hồ chí minh
                              </div>
                              <div class="homekhaigiang-item--price">
                                <div class="price">4.000.000</div>
                                <div class="price-net">6.000.000</div>
                              </div>
                              <div class="homekhaigiang-item--dangky">
                                <a href="#"> Đăng Ký học</a>
                            </div>
                            </div>
                          
                        </div>
                      
                      </div>
                </div>
              </div>
            </div>
          <div class="c20 hide-on-mobile"></div>
          <div class="c30"></div>
          </div>
          <div class="homedaotao-wrapper">
              <div class="c30"></div>
              <div class="c20 hide-on-mobile"></div>
                <div class="grid">
                  <div class="homedaotao">
                    <div class="c30"></div>
                    <div class="c20 hide-on-mobile"></div>

                      <div class="flex-container">
                          <div class="cell-1-2 tab-cell-1-1">
                              <div class="homecat-title--spc" style="color: #FFF; text-align: left;">
                                  Đào tạo nội bộ
                              </div>
                              <div class="c10"></div>
                              <div class="homedaotao-desc">
                                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci, fugit. Ea blanditiis reiciendis odio facilis quidem corporis odit, in sed consequuntur libero. Natus, maxime molestiae a veritatis deleniti voluptatum officia.
                              </div>
                              <div class="c30"></div>
                              <div class="btn-dangky">
                                Xem chi tiết
                              </div>
                          </div>
                      </div>
                    <div class="c30"></div>
                    <div class="c20 hide-on-mobile"></div>
                    <div class="homedaotao--partner">
                      <div class="swiper swiper-container swiper-homepartner">
                
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                              <img src="/uploaded/partner/Layer 50.png" alt="">
                             
                          </div>
                          <div class="swiper-slide">
                            <img src="/uploaded/partner/Layer 51.png" alt="">
                           
                          </div>
                     
                          <div class="swiper-slide">
                            <img src="/uploaded/partner/Layer 52.png" alt="">
                          
                          </div>
                          
                          <div class="swiper-slide">
                            <img src="/uploaded/partner/Layer 53.png" alt="">
                          
                          </div>
                          
                          <div class="swiper-slide">
                            <img src="/uploaded/partner/Layer 54.png" alt="">
                          
                          </div>
                          
                          <div class="swiper-slide">
                            <img src="/uploaded/partner/Layer 55.png" alt="">
                          
                          </div>
                        </div>
                       
                      </div>
                     
                      <div class="swiperpartner-button-prev"> 
                        <i class="fas fa-chevron-left"></i>
                      </div>
                      <div class="swiperpartner-button-next">
                        <i class="fas fa-chevron-right"></i>
                      </div>
                      <script>
                        var swiper = new Swiper(".swiper-homepartner", {
                          slidesPerView: 6,
                          spaceBetween: 30,
                          loop:true,
                          navigation: {
                            nextEl: ".swiperpartner-button-next",
                            prevEl: ".swiperpartner-button-prev",
                          },
                          breakpoints: {
                          640: {
                            slidesPerView: 3,
                            spaceBetween: 20,
                          },
                          768: {
                            slidesPerView: 4,
                            spaceBetween: 40,
                          },
                          1024: {
                            slidesPerView: 6,
                            spaceBetween: 50,
                          },
                          }
                        });
                      </script>
                    </div>
                </div>
                </div>
              <div class="c30"></div>
              <div class="c20 hide-on-mobile"></div>
              <div class="c30"></div>
              <div class="c20 hide-on-mobile"></div>
          </div>
          <!-- end lịch khai giảng -->
            <!-- giảng viên -->
            <div class="hometeacher-wrapper">
                <div class="c20"></div>
                <div class="c30 hide-on-mobile"></div>
                <div class="c20"></div>
                <div class="c30 hide-on-mobile"></div>
                <div class="grid">
                  <div class="flex-container">
                    <div class="cell-1-3 tab-cell-1-1">
                        <div class="homecat-title--spc">
                            Đội ngũ giảng viên
                        </div>
                        <div class="homecat-intro">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.                
                        </div>
                        <div class="hometeacher-desc">
                          Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod sed do eiusmod tempor incididunt ut labore et dolore magna aliquaincididunt ut laborrem ipsum dolor sit amet, consectetur...
                        </div>
                    </div>
                    <div class="cell-1-3">
                      <div id="slide-big" class="swiper">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <div class="swiper-slide">  
                              <div class="hometeacher-item">
                                <img  src="/uploaded/doi-ngu/item5.jpeg" alt="" title="" width="100%" />
                                <div class="hometeacher-name">
                                    <p>Thạc sĩ</p>
                                    TRần tuấn anh
                                </div>
                              </div>
                          </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="hometeacher-item">
                              <img  src="/uploaded/doi-ngu/item4.jpeg" alt="" title="" width="100%" />
                              <div class="hometeacher-name">
                                  <p>Giảng viên</p>
                                  Hà Lan ANh
                              </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="hometeacher-item">
                              <img  src="/uploaded/doi-ngu/item2.jpg" alt="" title="" width="100%" />
                              <div class="hometeacher-name">
                                  <p>Thạc sĩ</p>
                                  TRần tuấn anh
                              </div>
                            </div>
                          </div>
                        </div>
                       
                      </div>
                    </div>
                    <div class="cell-1-3 tab-cell-1-1">
                      <div thumbsSlider="" class="swiper mySwiper" id="slide-thumb">
                        <div class="swiper-wrapper">
                          
                          <div class="swiper-slide">
                            <img src="/uploaded/doi-ngu/item5.jpeg" alt="">
                          </div>
                          <div class="swiper-slide">
                            <img src="/uploaded/doi-ngu/item4.jpeg" alt="">
                          </div>
                          <div class="swiper-slide">
                            <img src="/uploaded/doi-ngu/item2.jpeg" alt="">
                          </div>
                          <div class="swiper-slide">
                            <img src="/uploaded/doi-ngu/item6.jpg" alt="">
                          </div>
                          <div class="swiper-slide">
                            <img src="/uploaded/doi-ngu/item7.jpg" alt="">
                          </div>
                          <div class="swiper-slide">
                            <img src="/uploaded/doi-ngu/item2.jpeg" alt="">
                          </div>
                          <div class="swiper-slide">
                            <img src="/uploaded/doi-ngu/item5.jpeg" alt="">
                          </div>
                          <div class="swiper-slide">
                            <img src="/uploaded/doi-ngu/item4.jpeg" alt="">
                          </div>
                          <div class="swiper-slide">
                            <img src="/uploaded/doi-ngu/item2.jpeg" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                  
                  <!-- Initialize Swiper -->
                  <script>
                 

                    var swiper = new Swiper("#slide-thumb", {
                    spaceBetween: 10,
                    slidesPerView: 3,
                    grid: {
                      rows: 2,
                    },
                    freeMode: true,
                    watchSlidesProgress: true,
                  });
                  var swiper2 = new Swiper("#slide-big", {
                    spaceBetween: 10,
                    navigation: {
                      nextEl: ".swiper-button-next",
                      prevEl: ".swiper-button-prev",
                    },
                    thumbs: {
                      swiper: swiper,
                    },
                  });
                  </script>
               
  
                  <div class="c30"></div>
                  <div class="c20 hide-on-mobile"></div>
                  </div>
                </div>
                <div class="c20"></div>
                <div class="c30 hide-on-mobile"></div>
            </div>
            
            <!-- end giảng viên -->
            <!-- cảm nhận học viên -->
            <div class="homefeeback-wrapper">
              <div class="c20"></div>
              <div class="c30 hide-on-mobile"></div>
              <div class="c20"></div>
              <div class="c30 hide-on-mobile"></div>
              <div class="homecat-title--spc">
                Cảm nhận học viên
            </div>
            <div class="homecat-intro text-center">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.                
            </div>

              <div class="c20"></div>
              <div class="c30 hide-on-mobile"></div>
              <div class="c20"></div>
              <div class="c30 hide-on-mobile"></div>
            </div>
            <!-- end cảm nhận học viên -->


            <div class="homebooks-wrapper">
              <div class="c20"></div>
              <div class="c30 hide-on-mobile"></div>
              <div class="c20"></div>
              <div class="c30 hide-on-mobile"></div>
                <div class="homecat-title--spc">
                  Tài liệu khóa học
              </div>
              
              <div class="c30 hide-on-mobile"></div>
              <div class="grid">
                <div class="flex-container">
                    <div class="cell-1-4 tab-cell-1-2">
                        <div class="homebook-item">
                            <a href="#" class="img-shine">
                             
                            <img src="/uploaded/sach/item1.png" alt="">
                        
                            </a>
                            <div class="c10"></div>
                            <div class="homebook-item--name text-line-2 text-center">
                                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste consectetur quo sint totam. Iste possimus sequi illo in, eaque natus delectus aspernatur eos sapiente, placeat debitis officiis, neque quidem unde.
                            </div>
                        </div>
                    </div>
                    <div class="cell-1-4 tab-cell-1-2">
                      <div class="homebook-item">
                          <a href="#" class="img-shine">
                           
                          <img src="/uploaded/sach/item2.png" alt="">
                      
                          </a>
                          <div class="c10"></div>
                          <div class="homebook-item--name text-line-2 text-center">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste consectetur quo sint totam. Iste possimus sequi illo in, eaque natus delectus aspernatur eos sapiente, placeat debitis officiis, neque quidem unde.
                          </div>
                      </div>
                  </div>
                  <div class="cell-1-4 tab-cell-1-2">
                    <div class="homebook-item">
                        <a href="#" class="img-shine">
                         
                        <img src="/uploaded/sach/item3.png" alt="">
                    
                        </a>
                        <div class="c10"></div>
                        <div class="homebook-item--name text-line-2 text-center">
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste consectetur quo sint totam. Iste possimus sequi illo in, eaque natus delectus aspernatur eos sapiente, placeat debitis officiis, neque quidem unde.
                        </div>
                    </div>
                </div>
                <div class="cell-1-4 tab-cell-1-2">
                  <div class="homebook-item">
                      <a href="#" class="img-shine">
                       
                      <img src="/uploaded/sach/item4.png" alt="">
                  
                      </a>
                      <div class="c10"></div>
                      <div class="homebook-item--name text-line-2 text-center">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste consectetur quo sint totam. Iste possimus sequi illo in, eaque natus delectus aspernatur eos sapiente, placeat debitis officiis, neque quidem unde.
                      </div>
                  </div>
              </div>
                </div>
              </div>

              <div class="c20"></div>
              <div class="c30 hide-on-mobile"></div>
              <div class="c20"></div>
              <div class="c30 hide-on-mobile"></div>
            </div>


          <!-- tin tuc hiển thị trên pc -->
          <div class="homenews-wrapper hide-on-mobile hide-on-pad">
            <div class="c30"></div>
            <div class="c20 hide-on-mobile"></div>
            <div class="homecat-title--spc">
                <a href="#"> TIN TỨC Nổi bật</a>
            </div>
            <div class="c30"></div>
            <div class="grid">
                <div class="flex-container">
                    <div class="cell-homenews tab-cell-1-1">
                        <div class="homenews-item">
                            <img src="/uploaded/tin-tuc/item1.png" alt="">
                            <div class="homenews-item-desc">
                              
                                <div class="time">
                                  <i class="far fa-clock"></i> Ngày 28/2/2023
                                </div>
                                <h3 class="homenews-item--name text-line-2">
                                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                  </a>
                              </h3>
                              <div class="homenews-item--intro text-line-3">
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                              </div>
                            </div>
                        </div>
                    </div>
                   
                  <div class="cell-homenews tab-cell-1-1">
                    <div class="homenews-item">
                        <img src="/uploaded/tin-tuc/item2.png" alt="">
                        <div class="homenews-item-desc">
                              
                          <div class="time">
                            <i class="far fa-clock"></i> Ngày 28/2/2023
                          </div>
                          <h3 class="homenews-item--name text-line-2">
                            Lorem ipsum dolor sit amet   Lorem ipsum dolor sit amet  
                            </a>
                        </h3>
                        <div class="homenews-item--intro text-line-3">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </div>
                      </div>
                    </div>
                </div>
                <div class="cell-homenews tab-cell-1-1">
                  <div class="homenews-item">
                      <img src="/uploaded/tin-tuc/item2.png" alt="">
                      <div class="homenews-item-desc">
                              
                        <div class="time">
                          <i class="far fa-clock"></i> Ngày 28/2/2023
                        </div>
                        <h3 class="homenews-item--name text-line-2">
                          Lorem ipsum dolor sit amet dolor sit amet 
                          </a>
                      </h3>
                      <div class="homenews-item--intro text-line-3">
                          Lorem ipsum dolor sit amet  dolor sit amet
                      </div>
                    </div>
                  </div>
              </div>
              
            <div class="c30"></div>
            <div class="c20 hide-on-mobile"></div>
       
     
    </div>
    </div>
    <!-- end content -->


    <div class="c"></div>

    <!-- footer -->
    <footer class="footer">
      <div class="footer-main">
        <div class="grid">
          <div class="flex-container">
        
           

            
            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
                <div class="footer-title footer-title-mobile" rel="ct">
                  HANOI HEAD office
                </div>
                <div class="info">       
                  <i class="fas fa-map-marker-alt"></i>  Số 10-14/102 Kim Giang,Hoàng Mai, Hà Nội
                  </div>
                  <div class="info">
                    <i class="fas fa-phone-alt"></i> 0353697777  -  0934549998             
                 </div>
                  <div class="info">
                 
                    <i class="far fa-envelope"></i>  support@katavina.com
  
                    
                  </div>
           
              </div>
              <div class="footer-block">
                <div class="footer-title footer-title-mobile" rel="ct">
                  Ho chi minh HEAD office
                </div>
                <div class="info">       
                  <i class="fas fa-map-marker-alt"></i>  Số 10-14/102 Kim Giang,Hoàng Mai, Hà Nội
                  </div>
                  <div class="info">
                    <i class="fas fa-phone-alt"></i> 0353697777  -  0934549998             
                 </div>
                  <div class="info">
                 
                    <i class="far fa-envelope"></i>  support@katavina.com
  
                    
                  </div>
            </div>
            </div>
            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
                <div class="footer-title footer-title-mobile" rel="ct">
                 Khóa học
                </div>
        
                <ul class="menuboxfooter" id="">
                  <li><a href=""> Marketing</a></li>
                  <li><a href="">Sale </a></li>
                  <li><a href=""> Facebook ads</a></li>
               
                 
                </ul>
              </div>
              
            </div>

         
            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
                <div class="footer-title footer-title-mobile" rel="ct">
                Đăng ký nhận tin
                </div>
                <div class="send-mail">
                  <p>Theo dõi Cung cấp thông tin độc quyền, tin tức, và nhiều hơn nữa. </p>
                  <div class="c10"></div>
                  <form id="newsletterForm" class="sendmail__frm" action="/index4.php?page=newsletter&lang=" onSubmit="return check_newsletter1();" method="post">
                  <input type="hidden"  name="code" value="save" />          
                  <input type="text" name="txtemail" id="txtemailNewsl" class="sendmail__input notNull" placeholder="Nhập email của bạn">
                    <div class="c10"></div>
                  <p>Bằng cách nhấp vào 'Đăng ký' bạn đồng ý với <a href="#"> Điều khoản </a> sử dụng và <a href="#">Chính sách</a>  bảo mật  </p>
                 <button type="submit" name="addnewsletter" value="save" onClick="$('#newsletterForm').submit()" class="sendmail__btn">Đăng ký</button>
                </form>
                <div class="msgbox-newsl"></div>
              </div>
               
                
                                        
                            
            </div>
             
            </div>
            <div class="cell-1-4 tab-cell-1-1">
            <div class="footer-title footer-title-mobile" rel="ct">
              Connections
           </div>

           <ul class="footer-social">
            <li>
                <a href="#" target="_blank" class="footer-social__item hvr-float">
                  <img src="/images/facebook.png" alt="">
                </a>
            </li>
            <li>
                <a href="#"  target="_blank" class="footer-social__item hvr-float">
                   <img src="/images/likedin.png" alt="">
                </a>
            </li>
            
            <li>
                <a href="h#" class="footer-social__item hvr-float" target="_blank"  >
                 <img src="/images/instagram.png" alt="">
                </a>
            </li>

        </ul>
          </div>
        </div>
        </div>
      </div>
      <div class="footer-end">
          <div class="grid">
            <div class="flex-container">
            
              <div class="cell-1-4 tab-cell-1-1">
                <div class="footer-block">
                    
                    <ul class="footer-social">
                      <div class="f-title">
                       Pay width ease
                      </div>
                      <li>
                          <a href="#" target="_blank" class="footer-social__item hvr-float">
                            <img src="/images/payment1.png" alt="">
                          </a>
                      </li>
                      <li>
                          <a href="#"  target="_blank" class="footer-social__item hvr-float">
                             <img src="/images/payment2.png" alt="">
                          </a>
                      </li>
                      
                      <li>
                          <a href="https://www.youtube.com/channel/UCm7Tu-rNx9VA9c9iijSm8ig" class="footer-social__item hvr-float" target="_blank"  >
                           <img src="/images/payment3.png" alt="">
                          </a>
                      </li>
      
                  </ul>

                </div>
            </div>
            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
                  <div class="f-title">
                      <img src="/images/tick.png" alt=""> Safe & Secure
                  </div>
                
              </div>
          </div>
            </div>
          </div>
      </div>
      <div class="c10"></div>

    </footer>
    <!-- end footer -->
</div>


  <link rel="stylesheet" href="/css/jquery.fancybox.css" />
  <script src="/js/jquery.fancybox.js"></script>
  <link rel="stylesheet" href="/css/hover.css" />



 

  
</body>

</html>
