<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Hoàng Long</title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
  <meta name="theme-color" content="#0099ff" />
  <meta http-equiv="Content-Language" content="VN" />
  <meta name="description" content="Hoàng Long" />
  <meta name="keywords" content="" />
  <meta property="og:url" name="og:url" content="" data-app />
  <meta property="og:type" name="og:type" content="website" data-app />
  <meta property="og:description" name="og:description" content="Hoàng Long" data-app />
  <meta property="og:title" name="og:title" content="Hoàng Long" data-app />
  <meta property="og:image" name="og:image" content="http://tonvietphap.24h.co/uploaded/logo/logo.png" data-app />

  <link href="/favicon.png" rel="shortcut icon" />

  <link rel="stylesheet" type="text/css" href="/css/style.css?t=2" />

  <link rel="stylesheet" type="text/css" href="/css/grid.css" />
  <link rel="stylesheet" type="text/css" href="/css/responsive.css" />
  <link rel="stylesheet" type="text/css" href="/css/swiper.css" />

  <link rel="stylesheet" type="text/css" href="/css/font.css" />
  <link rel="stylesheet" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/jquery.mmenu.all.css" />
  <link rel="stylesheet" href="/css/jquery-ui.css" />
  <script src="/js/jquery-1.10.1.min.js"></script>
  <script src="/js/swiper.min.js"></script>

  <script src="/js/script.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/jquery.form.min.js"></script>
  <script src="/js/jquery.mmenu.min.all.js"></script>
</head>

<body>



<div id="page">


 
    <!-- header pc -->
    <header class="header hide-on-pad hide-on-tab">
      <div class="grid">
        
        <div class="flex-container align-center">
            <div class="cell-1-5">
              <div class="logo">
                <a href="/">
                  <img src="/uploaded/logo/logo.png" alt="LogoSite"
                    style="max-width:100%; margin:0 auto"></a>
                </div>
            </div>
           <div class="cell-4-5">
            <div class="menubar">
                <ul class="nav  hide-on-mobile">
                <li class=" active "> <a href="/" class=""><span style="background-image:url()">Trang chủ </span></a>

                </li>

                <li class=" "> <a href="/" class=""><span style="background-image:url()">Giới thiệu </span></a>

                </li>
                
                <li class=" "> <a href="/linh-vuc-hoat-dong/" class=""><span style="background-image:url()">Sản phẩm </span></a>
                
                
                
                
                    <ul class="submnu1" style="display: none;">
                        <li class=""><a href="/phat-trien-dien-nang/">Phát triển điện năng</a>
                        </li>
                        <li class=""><a href="/dau-tu-bat-dong-san/">Đầu tư Bất động sản</a>
                        </li>
                        <li class=""><a href="/dich-vu-khach-san/">Dịch vụ khách sạn</a>
                        </li>
                    </ul>
                    
                    
                    
                </li>
                <li class=""> <a href="/cong-ty-thanh-vien/" class=""><span style="background-image:url()">Hệ thống phân phối </span></a>                </li>
                <li class=" "> <a href="/tin-tuc-su-kien/" class=""><span style="background-image:url()">Tin tức </span></a>
                
                
                
                
                    <ul class="submnu1">
                        <li class=""><a href="/tin-thi-truong/">Tin thị trường</a>
                        </li>
                        <li class=""><a href="/tin-doanh-nghiep/">Tin doanh nghiệp</a>
                        </li>
                    </ul>
                    
                    
                    
                </li>
              
                <li class=" "> 
                  <a href="/lien-he/" class=""><span style="background-image:url()">Liên hệ </span></a> 
                </li>
               
                </ul>
                <div class="icon-search" >
                 <!-- <i class="fa fa-search search-icon" aria-hidden="true"></i> -->
                  <div class="search-pc" style="">
                      <form action="/search/" method="get" id="searchformtab">
                          <input name="qr" id="qr_search" class="kw-mobile" placeholder="Tìm kiếm" type="text">
                              <a href="#" class="submit-search-pc" onClick=""> 
                                  <i class="fa fa-search" aria-hidden="true"></i> </a>
<!-- 
                              <a href="#" class="closeX" onClick="$('.search-pc').hide(); return false;">&#10005;</a>         -->
                      </form>
                  </div>

                  <script type="text/javascript">

                      $(".submit-search-pc").click(function(){
                        if ($("#qr_search").val() != "")
                          $('#searchformtab').submit(); return false;
                      
                      });
  
                      $(document).ready(function () {
                          $(".search-icon").click(function () {
                              $(".search-pc").stop().slideToggle("fast");
                              return false;
                          });
                      });
                  </script>  	
                </div>
                <div class="cart">
                    <a href="#"> <span class="cartnumber">20</span>   <img src="/images/shoppingbag.png" alt=""></a>   
                </div>
              <div class="c"></div>
            </div>
           </div>


           

          </div>
        </div>
      <div class="c"></div>
    </header>
    <!-- end header pc -->
    <header class="header hide-on-pc error">
      <div class="mobile-bar hide-on-pc">
        <div class="grid">
            <div class="flex-container align-center">
                <div class="cell-1-3">
                   
                    <a class="menu-mobile" href="#menu">
                      <i class="fas fa-bars"></i>
                   </a>
                   
                </div>
                <div class="cell-1-3">
                 
                  <div class="logo">
                      <a href="/">
                        <img src="/uploaded/logo/Logo_full 1.png" alt="Logo web" style="max-width: 100%; margin: 0 auto" />
                      </a>
                  </div>
                 
              </div>
              <div class="cell-1-3">
                <div class="cart">
                  <a href="#"> <span class="cartnumber">20</span>   <img src="/images/shoppingbag.png" alt=""></a>   
              </div>
                <div class="icon-search search-mb" >
                  <i class="fa fa-search search-iconmb" aria-hidden="true"></i>
                    <div class="frm-search-mb" style="">
                     <form action="/search/" method="get" id="searchformtab">
                        <input name="qr" class="kw-mobile" placeholder="Tìm kiếm " type="text">
                        <a href="#" class="submit-search-pc" onClick="$('#searchformtab').submit(); return false;"> 
                          <i class="fa fa-search" aria-hidden="true"></i> </a>
  
                        <a href="#" class="closeX" onClick="$('.frm-search-mb').hide(); return false;">&#10005;</a>        
                      </form>
                    </div> 
                    
                    <script type="text/javascript">
                      $(document).ready(function () {
                      $(".search-iconmb").click(function () {
                        $(".frm-search-mb").stop().slideToggle("fast");
                        return false;
                      });
                      });
                    </script>  	
                   </div>
               
            </div>
            </div>
        </div>
        <div class="c"></div>
    </div>

    </header>
    <!-- content -->
    <div class="content">
          <!-- slideshow -->
          <div class="swiper-container" id="slide_home">
            <!-- <div class="swiper-pagination"></div> -->
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="slidehome">
                  <img src="/uploaded/slideshow/home_02.png" alt="" style="width: 100%" />
                  <div class="slidehome-content">
                    <div class="grid">
                        <div class="flex-container">
                            <div class="cell-1-2 tab-cell-1-1">
                            <h2>
                             Thảm KATAVINA THế hệ mới
                            </h2> 
                            <div class="c20"></div> 
                             <p class="slidehome-content-intro">Trống trượt-Trống bụi-Kháng nước</p>
                               <div class="c20 hide-on-mobile"></div>
                                <div class="c20"></div>
                                    <a href="#" class="btn-muangay">
                                     Mua ngay
                                    </a>
                                
                            </div>
                        </div>
                    </div>
                </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="slidehome">
                  <img src="/uploaded/slideshow/home_02.png" alt="" style="width: 100%" />
                  <div class="slidehome-content">
                    <div class="grid">
                        <div class="flex-container">
                            <div class="cell-1-2 tab-cell-1-2">
                            <h2>
                              Your Future
                              Begins Here
                            </h2> 
                            <div class="c20"></div> 
                             <p class="slidehome-content-intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis minima itaque ex perferendis voluptatem optio magni officiis cum, mollitia consectetur, consequatur perspiciatis quaerat corporis deleniti voluptatum sint fugit nemo at.</p>

                                <div class="c20"></div>
                                <div class="c30"></div>
                                    <a href="###" class="btn-xemthem">
                                       Đăng ký ngay 
                                    </a>
                                
                            </div>
                        </div>
                    </div>
                </div>
                </div>
              </div>
            
            </div>
            <!-- <div class="swiper-pagination"></div> -->
            <script>
              $(function () {
                var swiper_slide_home = new Swiper("#slide_home", {
                  loop: true,
                  slidesPerView: 1,
                  autoplay: {
                    simulateTouch: true,
                    delay: 5000000,
                    disableOnInteraction: false,
                  },
                  spaceBetween: 0,
                  // navigation: {
                  //   nextEl: ".swiper-button-next",
                  //   prevEl: ".swiper-button-prev",
                  // },
                  pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                  },
                  speed: 500,
                  spaceBetween: 0,
                });
    
                $("#slide_home").on("mouseover", function () {
                  swiper_slide_home.autoplay.stop();
                });
                $("#slide_home").on("mouseout", function () {
                  swiper_slide_home.autoplay.start();
                });
              });
            </script>
          </div>
          <!-- end slideshow -->
      
        <!-- san pham -->
            <div class="product-wrapper">
              <div class="c20 hide-on-mobile"></div>
              <div class="c30"></div>
                <div class="grid">
                  <div class="flex-container">
                      <div class="cell-1-2 tab-cell-1-1">
                        <div class="homecat-title--spc" style="text-align:left ;">
                          <a href="#">Sản phẩm nổi bật</a>
                        </div>
                        <div class="homecat-intro">
                          Tổng hợp các mẫu thảm lót sàn ô tô cao cấp theo từng dòng xe
                        </div>
                      </div>
                      <div class="cell-1-2 tab-cell-1-1">
                        <div class="select">
                          <div class="select_wrap">
                            
                            <ul class="default_option">
                              <i class="fas fa-caret-right"></i>
                                <li>
                                 
                                      Tìm kiếm theo hãng xe
                                    
                                </li>
                            </ul>
                            <ul class="select_ul">
                                <li>
                                   Thảm lót sàn xe Vinfast
                                       
                                </li>
                                <li>
                                    Thảm lót sàn xe Mercedes
                                </li>
                                <li>
                                    Thảm lót sàn xe KIA 
                                </li>
                                <li> 
                                    Thảm lót sàn xe Toyota
                                </li>
                                <li>
                                  Thảm lót sàn xe Honda  
                              </li>
                              <li>
                                 Thảm lót sàn xe Nissan
                                </li>
                              <li>
                                
                                 
                                   Thảm lót sàn xe BMW
                                   
                                  
                            </li>
                            <li>
                               Thảm lót sàn xe Ford
                          
                          </li>
                          <li>
                              Thảm lót sàn xe Chevrolet
                         
                          </li>
                          <li> 
                               Thảm lót sàn xe MG
                          
                          </li>
                          <li>
                             Thảm lót sàn xe k
                        </li>
                            </ul>
                        </div>
                       <script>
                           $(".default_option").click(function(){
                            $(this).parent().toggleClass("active");
                          })
                          
                          $(".select_ul li").click(function(){
                            var currentele = $(this).html();
                            $(".default_option li").html(currentele);
                            $(this).parents(".select_wrap").removeClass("active");
                          })
                       </script>
                        </div>
                      </div>
                  </div>
                <div class="c30"></div>
               
    
                
                <div class="flex-container">
                  <div class="cell-1-4 tab-cell-1-2 item-homeproduct">
                        <div class="homeproduct-img">
                            <a href="#" class="img-shine">
                              <img src="/uploaded/san-pham/item1.png" alt="">
                            </a>
                        </div>
                      <div class="homeproduct-bg-name">
                        <img src="/uploaded/san-pham/bgitem1.png" alt="">
                        <div class="homeproduct-position">
                            Volvo XC2020
                        </div>
                      </div>
                      <div class="homeproduct-content">
                          <h2 class="homeproduct-name">Thảm lót sàn ô tô
                            Toyota Corolla Cross - Phiên bản Pro </h2>
                            <div class="c10"></div>
                           <div class="flex-container">
                            <div class="price">
                              2.990.000đ
                          </div>
                          <div class="pricekm">
                              3.600.00đ
                          </div>
                           </div>
                           <div class="c20"></div>
                           <div class="flex-container hvr-show hide-on-mobile">
                              <a href="#" class="btn btn-xemthem">Xem Chi tiết</a>
                              <a href="#" class="btn btn-chitiet">Mua ngay</a>
                           </div>
                      </div>
                  </div>
                  <div class="cell-1-4 tab-cell-1-2 item-homeproduct">
                    <div class="homeproduct-img">
                        <a href="#" class="img-shine">
                          <img src="/uploaded/san-pham/item1.png" alt="">
                        </a>
                    </div>
                  <div class="homeproduct-bg-name">
                    <img src="/uploaded/san-pham/bgitem2.png" alt="">
                    <div class="homeproduct-position">
                        Volvo XC2020
                    </div>
                  </div>
                  <div class="homeproduct-content">
                      <h2 class="homeproduct-name">Thảm lót sàn ô tô
                        Toyota Corolla Cross - Phiên bản Pro </h2>
                        <div class="c10"></div>
                       <div class="flex-container">
                        <div class="price">
                          2.990.000đ
                      </div>
                      <div class="pricekm">
                          3.600.00đ
                      </div>
                       </div>
                       <div class="c20"></div>
                       <div class="flex-container hvr-show hide-on-mobile">
                          <a href="#" class="btn btn-xemthem">Xem Chi tiết</a>
                          <a href="#" class="btn btn-chitiet">Mua ngay</a>
                       </div>
                  </div>
                  </div>
                  <div class="cell-1-4 tab-cell-1-2 item-homeproduct">
                    <div class="homeproduct-img">
                        <a href="#" class="img-shine">
                          <img src="/uploaded/san-pham/item1.png" alt="">
                        </a>
                    </div>
                  <div class="homeproduct-bg-name">
                    <img src="/uploaded/san-pham/bgitem1.png" alt="">
                    <div class="homeproduct-position">
                        Volvo XC2020
                    </div>
                  </div>
                  <div class="homeproduct-content">
                      <h2 class="homeproduct-name">Thảm lót sàn ô tô
                        Toyota Corolla Cross - Phiên bản Pro </h2>
                        <div class="c10"></div>
                       <div class="flex-container">
                        <div class="price">
                          2.990.000đ
                      </div>
                      <div class="pricekm">
                          3.600.00đ
                      </div>
                       </div>
                       <div class="c20"></div>
                       <div class="flex-container hvr-show hide-on-mobile">
                          <a href="#" class="btn btn-xemthem">Xem Chi tiết</a>
                          <a href="#" class="btn btn-chitiet">Mua ngay</a>
                       </div>
                  </div>
                  </div>
                  <div class="cell-1-4 tab-cell-1-2 item-homeproduct">
                    <div class="homeproduct-img">
                        <a href="#" class="img-shine">
                          <img src="/uploaded/san-pham/item1.png" alt="">
                        </a>
                    </div>
                  <div class="homeproduct-bg-name">
                    <img src="/uploaded/san-pham/bgitem2.png" alt="">
                    <div class="homeproduct-position">
                        Volvo XC2020
                    </div>
                  </div>
                  <div class="homeproduct-content">
                      <h2 class="homeproduct-name">Thảm lót sàn ô tô
                        Toyota Corolla Cross - Phiên bản Pro </h2>
                        <div class="c10"></div>
                      <div class="flex-container">
                        <div class="price">
                          2.990.000đ
                      </div>
                      <div class="pricekm">
                          3.600.00đ
                      </div>
                      </div>
                      <div class="c20"></div>
                      <div class="flex-container hvr-show hide-on-mobile">
                          <a href="#" class="btn btn-xemthem">Xem Chi tiết</a>
                          <a href="#" class="btn btn-chitiet">Mua ngay</a>
                      </div>
                  </div>
                  </div>
                  <div class="cell-1-4 tab-cell-1-2 item-homeproduct">
                    <div class="homeproduct-img">
                        <a href="#" class="img-shine">
                          <img src="/uploaded/san-pham/item1.png" alt="">
                        </a>
                    </div>
                  <div class="homeproduct-bg-name">
                    <img src="/uploaded/san-pham/bgitem1.png" alt="">
                    <div class="homeproduct-position">
                        Volvo XC2020
                    </div>
                  </div>
                  <div class="homeproduct-content">
                      <h2 class="homeproduct-name">Thảm lót sàn ô tô
                        Toyota Corolla Cross - Phiên bản Pro </h2>
                        <div class="c10"></div>
                       <div class="flex-container">
                        <div class="price">
                          2.990.000đ
                      </div>
                      <div class="pricekm">
                          3.600.00đ
                      </div>
                       </div>
                       <div class="c20"></div>
                       <div class="flex-container hvr-show hide-on-mobile">
                          <a href="#" class="btn btn-xemthem">Xem Chi tiết</a>
                          <a href="#" class="btn btn-chitiet">Mua ngay</a>
                       </div>
                  </div>
              </div>
              <div class="cell-1-4 tab-cell-1-2 item-homeproduct">
                <div class="homeproduct-img">
                    <a href="#" class="img-shine">
                      <img src="/uploaded/san-pham/item1.png" alt="">
                    </a>
                </div>
              <div class="homeproduct-bg-name">
                <img src="/uploaded/san-pham/bgitem2.png" alt="">
                <div class="homeproduct-position">
                    Volvo XC2020
                </div>
              </div>
              <div class="homeproduct-content">
                  <h2 class="homeproduct-name">Thảm lót sàn ô tô
                    Toyota Corolla Cross - Phiên bản Pro </h2>
                    <div class="c10"></div>
                   <div class="flex-container">
                    <div class="price">
                      2.990.000đ
                  </div>
                  <div class="pricekm">
                      3.600.00đ
                  </div>
                   </div>
                   <div class="c20"></div>
                   <div class="flex-container hvr-show hide-on-mobile">
                      <a href="#" class="btn btn-xemthem">Xem Chi tiết</a>
                      <a href="#" class="btn btn-chitiet">Mua ngay</a>
                   </div>
              </div>
              </div>
              <div class="cell-1-4 tab-cell-1-2 item-homeproduct">
                <div class="homeproduct-img">
                    <a href="#" class="img-shine">
                      <img src="/uploaded/san-pham/item1.png" alt="">
                    </a>
                </div>
              <div class="homeproduct-bg-name">
                <img src="/uploaded/san-pham/bgitem1.png" alt="">
                <div class="homeproduct-position">
                    Volvo XC2020
                </div>
              </div>
              <div class="homeproduct-content">
                  <h2 class="homeproduct-name">Thảm lót sàn ô tô
                    Toyota Corolla Cross - Phiên bản Pro </h2>
                    <div class="c10"></div>
                   <div class="flex-container">
                    <div class="price">
                      2.990.000đ
                  </div>
                  <div class="pricekm">
                      3.600.00đ
                  </div>
                   </div>
                   <div class="c20"></div>
                   <div class="flex-container hvr-show hide-on-mobile">
                      <a href="#" class="btn btn-xemthem">Xem Chi tiết</a>
                      <a href="#" class="btn btn-chitiet">Mua ngay</a>
                   </div>
              </div>
              </div>
              <div class="cell-1-4 tab-cell-1-2 item-homeproduct">
                <div class="homeproduct-img">
                    <a href="#" class="img-shine">
                      <img src="/uploaded/san-pham/item1.png" alt="">
                    </a>
                </div>
              <div class="homeproduct-bg-name">
                <img src="/uploaded/san-pham/bgitem2.png" alt="">
                <div class="homeproduct-position">
                    Volvo XC2020
                </div>
              </div>
              <div class="homeproduct-content">
                  <h2 class="homeproduct-name">Thảm lót sàn ô tô
                    Toyota Corolla Cross - Phiên bản Pro </h2>
                    <div class="c10"></div>
                  <div class="flex-container">
                    <div class="price">
                      2.990.000đ
                  </div>
                  <div class="pricekm">
                      3.600.00đ
                  </div>
                  </div>
                  <div class="c20"></div>
                  <div class="flex-container hvr-show hide-on-mobile">
                      <a href="#" class="btn btn-xemthem">Xem Chi tiết</a>
                      <a href="#" class="btn btn-chitiet">Mua ngay</a>
                  </div>
              </div>
              </div>
                </div>
                <div class="flex-container flex-centered">
                    <a href="#" class=" ">Xem thêm 258 sản pẩm</a>
                </div>
            </div>
            <div class="c20 hide-on-mobile"></div>
            <div class="c30"></div>
            </div>



            <div class="product-detail">
             
                <div class="grid">        
                    <div class="homecat-title--spc">
                      <a href="#">Text mô tả</a>
                    </div>
                </div>
                <div class="c20 hide-on-mobile"></div>
                <div class="c30"></div>
            </div>
          
      
    </div>
    <!-- end content -->


    <div class="c"></div>

     <!-- footer -->
     <footer class="footer">
      <div class="footer-main">
        <div class="grid">
          <div class="flex-container">
        
           

            
            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
                <div class="footer-title footer-title-mobile" rel="ct">
                 Sản phẩm 
                </div>
        
                <ul class="menuboxfooter" id="">
                  <li><a href="">  Thảm lót sàn ô tô</a></li>
                  <li><a href="">   Camera hành trình cho ô tô </a></li>
                  <li><a href="">   Sản phẩm khác Phụ Kiện ô tô GoodYear</a></li>
                  <li><a href="">  Thiết bị định vị</a></li> 
                 
                </ul>
              </div>
              <div class="footer-block">
                <div class="footer-title footer-title-mobile" rel="ct">
                  Hệ thống phân phối
                </div>
               
                <ul class="menuboxfooter" id="">
                  <li><a href="">    </a></li>
                  <li><a href="">  Điểm Bán </a></li>
                  <li><a href="">   Tra cứu bảo hành</a></li>
                  <li><a href="">    Đăng ký đại lý</a></li> 
                  <li><a href="">   Địa điểm bảo hành</a></li> 
                </ul>
              </div>
            </div>
            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
                <div class="footer-title footer-title-mobile" rel="ct">
                 Các chính sách
                </div>
        
                <ul class="menuboxfooter" id="">
                  <li><a href="">  Thảm lót sàn ô tô</a></li>
                  <li><a href="">   Camera hành trình cho ô tô </a></li>
                  <li><a href="">   Sản phẩm khác Phụ Kiện ô tô GoodYear</a></li>
                  <li><a href="">  Thiết bị định vị</a></li> 
                 
                </ul>
              </div>
              <div class="footer-block">
                <div class="footer-title footer-title-mobile" rel="ct">
                  Dịch vụ khách hàng
                </div>
               
                <ul class="menuboxfooter" id="">
                  <li><a href="">    </a></li>
                  <li><a href="">  Điểm Bán </a></li>
                  <li><a href="">   Tra cứu bảo hành</a></li>
                  <li><a href="">    Đăng ký đại lý</a></li> 
                  <li><a href="">   Địa điểm bảo hành</a></li> 
                </ul>
              </div>
            </div>

         
            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
               
                <div class="footer-title footer-title-mobile" rel="ct">
                  KATA VINA CO.,LTD
              </div>
              
              <div class="info">       
                KATA Factory: Số 10-14/102 Kim Giang,Hoàng Mai, Hà Nội
                </div>
                <div class="info">
                  OFFICE HN: Tầng 3, G5 FiveStar, Số 2 Kim Giang, Thanh Xuân, Hà Nội              
               </div>
                <div class="info">
               
                  OFFICE HCM: A21 Cao Thị Chính, Q7, TP HCM

                  
                </div>
                <div class="info">
               
                  MANUFACTURER: KCN Phố Nối A, H. Văn Lâm, T.Hưng Yên
                  
                </div>
                <div class="info">
               
                  Email: support@katavina.com
                  
                </div>
                <div class="info">
               
                  Tel: +84 2432077799 EXT 100
                  
                </div>
                <div class="info">
               
                  Hotline: 0353697777 | 0934549998
                  
                </div>
               
                
                                        
                            
            </div>
             
            </div>
            <div class="cell-1-4 tab-cell-1-1">
            <div class="footer-title footer-title-mobile" rel="ct">
             Theo dõi
           </div>

            <div class="send-mail">
                <p>Theo dõi Cung cấp thông tin độc quyền, tin tức, và nhiều hơn nữa. </p>
                <div class="c10"></div>
                <form id="newsletterForm" class="sendmail__frm" action="/index4.php?page=newsletter&lang=" onSubmit="return check_newsletter1();" method="post">
                <input type="hidden"  name="code" value="save" />          
                <input type="text" name="txtemail" id="txtemailNewsl" class="sendmail__input notNull" placeholder="Nhập email của bạn">
                  <div class="c10"></div>
                <p>Bằng cách nhấp vào 'Đăng ký' bạn đồng ý với <a href="#"> Điều khoản sử dụng</a> và <a href="#">Chính sách bảo mật</a></p>
               <button type="submit" name="addnewsletter" value="save" onClick="$('#newsletterForm').submit()" class="sendmail__btn">Đăng ký</button>
              </form>
              <div class="msgbox-newsl"></div>
            </div>
          </div>
        </div>
        </div>
      </div>
      <div class="footer-end">
          <div class="grid">
            <div class="flex-container">
                <div class="cell-1-4 tab-cell-1-1">
                    <div class="footer-block">
                        <div class="f-title">
                            Follow us on
                        </div>
                        <ul class="footer-social">
                          <li>
                              <a href="#" target="_blank" class="footer-social__item hvr-float">
                                <img src="/images/facebook.png" alt="">
                              </a>
                          </li>
                          <li>
                              <a href="#"  target="_blank" class="footer-social__item hvr-float">
                                 <img src="/images/youtube-icon.png" alt="">
                              </a>
                          </li>
                          
                          <li>
                              <a href="https://www.youtube.com/channel/UCm7Tu-rNx9VA9c9iijSm8ig" class="footer-social__item hvr-float" target="_blank"  >
                               <img src="/images/ticktockicon.png" alt="">
                              </a>
                          </li>
          
                      </ul>

                    </div>
                </div>
                <div class="cell-1-4 tab-cell-1-1">
                  <div class="footer-block">
                      <div class="f-title">
                        <img src="/images/giaohangic.png" class="" alt=""> Trusted Delivery
                      </div>
                      <ul class="footer-social">
                        <li>
                            <a href="#" target="_blank" class="footer-social__item hvr-float">
                              <img src="/images/giaohang1.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#"  target="_blank" class="footer-social__item hvr-float">
                               <img src="/images/giaohang2.png" alt="">
                            </a>
                        </li>
                        
                        <li>
                            <a href="https://www.youtube.com/channel/UCm7Tu-rNx9VA9c9iijSm8ig" class="footer-social__item hvr-float" target="_blank"  >
                             <img src="/images/giaohang3.png" alt="">
                            </a>
                        </li>
        
                    </ul>

                  </div>
              </div>
              <div class="cell-1-4 tab-cell-1-1">
                <div class="footer-block">
                    <div class="f-title">
                      <img src="/images/payment.png" class="" alt=""> Pay with Ease
                    </div>
                    <ul class="footer-social">
                      <li>
                          <a href="#" target="_blank" class="footer-social__item hvr-float">
                            <img src="/images/payment1.png" alt="">
                          </a>
                      </li>
                      <li>
                          <a href="#"  target="_blank" class="footer-social__item hvr-float">
                             <img src="/images/payment2.png" alt="">
                          </a>
                      </li>
                      
                      <li>
                          <a href="https://www.youtube.com/channel/UCm7Tu-rNx9VA9c9iijSm8ig" class="footer-social__item hvr-float" target="_blank"  >
                           <img src="/images/payment3.png" alt="">
                          </a>
                      </li>
      
                  </ul>

                </div>
            </div>
            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
                  <div class="f-title">
                      <img src="/images/tick.png" alt=""> Safe & Secure
                  </div>
                
              </div>
          </div>
            </div>
          </div>
      </div>
      <div class="c10"></div>

    </footer>
    <!-- end footer -->
</div>


  <link rel="stylesheet" href="/css/jquery.fancybox.css" />
  <script src="/js/jquery.fancybox.js"></script>
  <link rel="stylesheet" href="/css/hover.css" />



 

  
</body>

</html>

