<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Kata edu</title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
  <meta name="theme-color" content="#0099ff" />
  <meta http-equiv="Content-Language" content="VN" />
  <meta name="description" content="Kata edu" />
  <meta name="keywords" content="" />
  <meta property="og:url" name="og:url" content="" data-app />
  <meta property="og:type" name="og:type" content="website" data-app />
  <meta property="og:description" name="og:description" content="Kata edu" data-app />
  <meta property="og:title" name="og:title" content="Kata edu" data-app />
  <meta property="og:image" name="og:image" content="http://tonvietphap.24h.co/uploaded/logo/logo.png" data-app />

  <link href="/favicon.png" rel="shortcut icon" />

  <link rel="stylesheet" type="text/css" href="/css/style.css" />

  <link rel="stylesheet" type="text/css" href="/css/grid.css" />
  <link rel="stylesheet" type="text/css" href="/css/responsive.css" />

  <link rel="stylesheet" type="text/css" href="/css/swiper.css">
  <link rel="stylesheet" type="text/css" href="/css/font.css">
  
  <link rel="stylesheet" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/jquery.mmenu.all.css" />
  <link rel="stylesheet" href="/css/jquery-ui.css" />
  <script src="/js/jquery-1.10.1.min.js"></script>
  
<script src="/js/swiper.min.js"></script>

  <script src="/js/script.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/jquery.form.min.js"></script>
  <script src="/js/jquery.mmenu.min.all.js"></script>
</head>

<body>



<div id="page">

  <div class="topheader">
    <div class="grid">
      <div class="flex-container align-center">
          <div class="cell-2-5">
            <div class="logo">
              <a href="/">
                <img src="/uploaded/logo/logo.png" alt="LogoSite" >
               
              </a>
              <h1 class="">Trường TH, THCS và THPT <br> Thực Nghiệm Khoa học Giáo dục</h1>
            </div>
            
          </div>
          <div class="cell-3-5">
           <div class="flex-container flex-flex-end">
        
         
          <ul class="nav nav-top">
            <li class=" ">
               <a href="/" class="">Tư vấn học đường </a>

            </li>
            <li class=" ">
              <a href="/" class=""> THƯ VIỆN </a>

           </li>
           <li class=" ">
            <a href="/" class="">VĂN BẢN QUY ĐỊNH </a>

         </li>            <li class=" ">
          <a href="/" class="">lIÊN HỆ </a>

       </li>
          </ul>
           
         
            <ul class="social">

              <li class="facebook">
                  <a href="https://www.facebook.com/CtyRelinesHrs" class="footer-social__item">
                    <img src="/images/facebook.png" alt="">
                  </a>
              </li>
              <li class="youtube">
                  <a href="https://www.youtube.com/@RelinesHrs" class="footer-social__item">
                      <img src="/images/youtube.png" alt="">
                  </a>
              </li>
              <li class="twitter">
                <a href="#Instagram" class="footer-social__item">
                  <img src="/images/twit-icon.png" alt="">
                </a>
            </li>
              <li class="instagram">
                  <a href="#Instagram" class="footer-social__item">
                    <img src="/images/instagram.png" alt="">
                  </a>
              </li>

          </ul>
          <div class="lang">
            <a href="#" class="vi">VI</a>
            <a href="#" class="en">EN</a>
          </div>
          </div>
      </div>
    </div>
</div>
</div>
    <!-- header pc -->
    <header class="header hide-on-pad hide-on-tab">
    
      
      <div class="grid">
        
        <div class="flex-container align-center">
            
           <div class="cell-4-5">
            <div class="menubar">
                <ul class="nav  hide-on-mobile">
                <li class=" active "> <a href="/" class="">Trang chủ </a>

                </li>

                <li class=" "> <a href="/" class="">Giới thiệu </a>

                </li>
                
                <li class=" "> <a href="/linh-vuc-hoat-dong/" class="">Khóa học </a>
                
                
                
               
                    
                    
                    
                </li>
                <li class=""> <a href="/cong-ty-thanh-vien/" class="">Lịch khai giảng </a>                </li>
                <li class=" "> <a href="/tin-tuc-su-kien/" class="">Đào tạo nội bộ </a>
                      
                    
                </li>
              
                <li class=" "> 
                  <a href="/lien-he/" class="">Tin tức </a> 
                  
                  <ul class="submnu1">
                    <li class=""><a href="/tin-thi-truong/">Tin thị trường</a>
                    </li>
                    <li class=""><a href="/tin-doanh-nghiep/">Tin doanh nghiệp</a>
                    </li>
                </ul>
                </li>
                <li class=" "> 
                  <a href="/lien-he/" class="">Liên hệ </a> 
                  
                 
                </li>
                </ul>
               
          
            </div>
           </div>
           <div class="cell-1-5">

            <div class="icon-search" >
              <!-- <i class="fa fa-search search-icon" aria-hidden="true"></i> -->
               <div class="search-pc" style="">
                   <form action="/search/" method="get" id="searchformtab">
                       <input name="qr" id="qr_search" class="kw-mobile" placeholder="Tìm kiếm" type="text">
                           <a href="#" class="submit-search-pc" onClick=""> 
                               <i class="fa fa-search" aria-hidden="true"></i> </a>
<!-- 
                           <a href="#" class="closeX" onClick="$('.search-pc').hide(); return false;">&#10005;</a>         -->
                   </form>
               </div>

               <script type="text/javascript">

                   $(".submit-search-pc").click(function(){
                     if ($("#qr_search").val() != "")
                       $('#searchformtab').submit(); return false;
                   
                   });

                   $(document).ready(function () {
                       $(".search-icon").click(function () {
                           $(".search-pc").stop().slideToggle("fast");
                           return false;
                       });
                   });
               </script>  	
             </div>
             
           </div>

           

          </div>
        </div>
      <div class="c"></div>
    </header>
    <!-- end header pc -->
    <header class="header hide-on-pc error">
      <div class="mobile-bar hide-on-pc">
        <div class="grid">
            <div class="flex-container align-center">
                <div class="cell-1-3">
                   
                    <a class="menu-mobile" href="#menu">
                      <i class="fas fa-bars"></i>
                   </a>
                   
                </div>
                <div class="cell-1-3">
                 
                  <div class="logo">
                      <a href="/">
                        <img src="/uploaded/logo/Logo_full 1.png" alt="Logo web" style="max-width: 100%; margin: 0 auto" />
                      </a>
                  </div>
                 
              </div>
              <div class="cell-1-3">
                <div class="cart">
                  <a href="#"> <span class="cartnumber">20</span>   <img src="/images/shoppingbag.png" alt=""></a>   
              </div>
                <div class="icon-search search-mb" >
                  <i class="fa fa-search search-iconmb" aria-hidden="true"></i>
                    <div class="frm-search-mb" style="">
                     <form action="/search/" method="get" id="searchformtab">
                        <input name="qr" class="kw-mobile" placeholder="Tìm kiếm " type="text">
                        <a href="#" class="submit-search-pc" onClick="$('#searchformtab').submit(); return false;"> 
                          <i class="fa fa-search" aria-hidden="true"></i> </a>
  
                        <a href="#" class="closeX" onClick="$('.frm-search-mb').hide(); return false;">&#10005;</a>        
                      </form>
                    </div> 
                    
                    <script type="text/javascript">
                      $(document).ready(function () {
                      $(".search-iconmb").click(function () {
                        $(".frm-search-mb").stop().slideToggle("fast");
                        return false;
                      });
                      });
                    </script>  	
                   </div>
               
            </div>
            </div>
        </div>
        <div class="c"></div>
    </div>

    </header>
    <!-- content -->
    <div class="content">

          <!-- slideshow -->
          <div class="swiper-container" id="slide_home">
            <!-- <div class="swiper-pagination"></div> -->
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <d  iv class="slidehome">
                  <img class="hide-on-mobile" src="/uploaded/slideshow/item1.png" alt="" style="width: 100%" />
                  
                  
              </div>
            
            </div>
            <!-- <div class="swiper-pagination"></div> -->
            <script>
              $(function () {
                var swiper_slide_home = new Swiper("#slide_home", {
                  loop: true,
                  slidesPerView: 1,
                  autoplay: {
                    simulateTouch: true,
                    delay: 5000000,
                    disableOnInteraction: false,
                  },
                  spaceBetween: 0,
                  // navigation: {
                  //   nextEl: ".swiper-button-next",
                  //   prevEl: ".swiper-button-prev",
                  // },
                  pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                  },
                  speed: 500,
                  spaceBetween: 0,
                });
    
                $("#slide_home").on("mouseover", function () {
                  swiper_slide_home.autoplay.stop();
                });
                $("#slide_home").on("mouseout", function () {
                  swiper_slide_home.autoplay.start();
                });
              });
            </script>
          </div>
          <!-- end slideshow -->
          <!-- homeinfo -->
      
           
            <div class="homeinfo-wrapper">
                <div class="grid">
                    <div class="homeinfo">
                      <div class="flex-container">
                        <div class="cell-1-3 tab-cell-1-1 pad-cell-1-2">
                            <div class="homeinfo-item">
                             
                                <div class="homeinfo-item--desc">
                                <h3 class="homeinfo-item-name">
                                  
                                  <a href="#">CHƯƠNG TRÌNH Giáo dục TIỂU HỌC</a>
                                </h3>
                                <div class="homeinfo-intro text-line-2">
                                  Hotline: 02437621656
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="cell-1-3 tab-cell-1-1 pad-cell-1-2">
                          <div class="homeinfo-item">
                            
                              <div class="homeinfo-item--desc">
                              <h3 class="homeinfo-item-name">
                                
                                <a href="#">CHƯƠNG TRÌNH Giáo dục TRUNG HỌC CƠ SỞ</a>
                              </h3>
                              <div class="homeinfo-intro text-line-2">
                                Hotline: 02437628007
                              </div>
                              </div>
                          </div>
                      </div>
                      <div class="cell-1-3 tab-cell-1-1 pad-cell-1-2">
                        <div class="homeinfo-item">
                          
                            <div class="homeinfo-item--desc">
                            <h3 class="homeinfo-item-name">
                              
                              <a href="#">CHƯƠNG TRÌNH TRUNG HỌC phổ thông</a>
                            </h3>
                            <div class="homeinfo-intro text-line-2">
                              Hotline: 02437626607
                            </div>
                            </div>
                        </div>
                    </div>
                    </div>
                  </div>
                 
                
                </div>
          
              
            </div>
          <!-- homeinfo -->
          
            <div class="member-wrapper">
            <div class="c30"></div>
            <div class="c30"></div>
               <div class="grid">
                   <div class="flex-container">
                    <div class="cell-2-3">
                        <div class="homecat-title">
                           Giới thiệu chung
                        </div>
                    <div class="c10"></div>
                    <div class="homecat-intro">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quos laborum odit sapiente eveniet, fugit dolorum laboriosam fuga repellat adipisci magnam! Eum nihil magni enim, a deserunt culpa sapiente nobis.
                    </div>
                    <div class="c30"></div>
                    <div class="c10"></div>
                    <h2>Tiêu đề bài viết hiển thị tại đây</h2>

                    <b>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#39;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.&nbsp;
                    </b>
                    <div class="tocWrap">
                        <div class="longPageTOC TOCShowHide">
                            <i class="fas fa-bars"></i> Nội dung
                        </div>
                        <div class="longPageNavigation" style="">
    
                        </div>
                        <script>
                            $(function () {
                                $(".tocContent").LongPageNavigation({longPageNavigationPosition: "longPageNavigation"});
                                $(".TOCShowHide").click(function () {
                                    $(this).toggleClass('collapsed');
                                    $(".longPageNavigation").slideToggle();
    
                                });
                            });
    
                        </script>
                    </div>
                    <div class="c30"></div>
                    <div class="toccontent">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#39;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.&nbsp;<br />
    <br />
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#39;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.&nbsp;<br />
    <br />
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#39;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.&nbsp;
                    </div>
                    </div>
                    <div class="cell-1-3">
                        <div class="menuright">
                            <h3 class="title"> Giới thiệu chung</h3>
                                <ul class="menuleft">
                                    <li class="actived"> 
                                        <a href="#">  Giới thiệu chung  </a>
                            
                                    </li>        
                                  




                                    <li class=""> 
                                        <a href="#">Tầm nhìn phát triển </a>
                            
                                    </li>        
                                    <li class=""> 
                                        <a href="/#"> Lịch sử phát triển  </a>
                            
                                    </li>   
                                    <li class=""> 
                                        <a href="/#"> Đội ngũ giáo viên </a>
                            
                                    </li>        
                                    <li class=""> 
                                        <a href="/#"> Cơ sở vật chất  </a>
                            
                                    </li>   
                                </ul>
                                <div class="c20"></div>
                            
                                
                            </div>
                        <div class="c30"></div>
                        <div class="poster">
                            <div class="img-poster">
                              <a href="#">
                                <img width="100%" src="/uploaded/background/bgtuyensinh.PNG" alt="">
                              </a>
                              <div class="poster-desc">
                                  <div class="poster-name">
                                      Thông tin tuyển sinh
                                  </div>
                                  <div class="poster-name-title">
                                      Năm học 2023-2024
                                  </div>
                              </div>
                            </div>
                            <div class="poster-content">
                                <div class="poster-content--intro">
                                  Lorem ipsum dolor sit amet consectetur adipisicing elit
                                </div>
                                <div class="c10"></div>
                                Sed sit voluptatum, laudantium mollitia debitis cupiditate nobis, ab ea qui adipisci quod aspernatur eaque nulla ad repellat? Dolores, molestiae esse? Facere.
                             
                                <div class="c20"></div>
                                <div class="text-center">
                                  <a href="#" class="btn btn-btndangky">Xem chi tiết <i class="fa-solid fa-angle-right"></i> </a>
                                </div>
                            </div>
                        </div>
                        <div class="c10"></div>
                        <div class="dangkythithu">
                            <img src="/uploaded/ico/dangky.png" alt="">
                           
                            <div class="c20"></div>
                            Đăng ký THI THỬ THPT QUỐC GIA
                            ONLINE MIỄN PHÍ
                        </div>
                        <div class="c30"></div>
                        <div class="box-news-left">
                            <h3 class="title-left">
                                <a href="/bai-viet-noi-bat/">Bài viết nổi bật</a>
                            </h3>	   
                            <div class="c20"></div>
                        
                        
                            <div class="featured-item">
                                <div class="flex-container">
                                    <div class="cell-1-3">
                                        <a href="#" class="img-shine">
                                            <img src="/uploaded/tin-tuc/item1.png" width="100%" alt="Tiêu đề bài viết tin tức hiển thị tại đây 005" class="image-news-left">
                                        </a>
                                    </div>
                                    <div class="cell-2-3">
                                        <h3>
                                            <a href="#" class="text-line-4">  Adipisicing elit. Perspiciatis officiis necessitatibus nihil, ab veniam repellendus? Quisquam velit expedita atque, eum incidunt enim voluptate sint corporis placeat quia odit minima necessitatibus!</a>
                                        </h3>
                                  
                                        
                                    </div>
                                </div>
                        
                            </div>
                            <div class="featured-item">
                                <div class="flex-container">
                                    <div class="cell-1-3">
                                        <a href="#" class="img-shine">
                                            <img src="/uploaded/tin-tuc/item1.png" width="100%" alt="Tiêu đề bài viết tin tức hiển thị tại đây 005" class="image-news-left">
                                        </a>
                                    </div>
                                    <div class="cell-2-3">
                                        <h3>
                                            <a href="#" class="text-line-4">  Adipisicing elit. Perspiciatis officiis necessitatibus nihil, ab veniam repellendus? Quisquam velit expedita atque, eum incidunt enim voluptate sint corporis placeat quia odit minima necessitatibus!</a>
                                        </h3>
                                  
                                        
                                    </div>
                                </div>
                        
                            </div>
                            <div class="featured-item">
                                <div class="flex-container">
                                    <div class="cell-1-3">
                                        <a href="#" class="img-shine">
                                            <img src="/uploaded/tin-tuc/item1.png" width="100%" alt="Tiêu đề bài viết tin tức hiển thị tại đây 005" class="image-news-left">
                                        </a>
                                    </div>
                                    <div class="cell-2-3">
                                        <h3>
                                            <a href="#" class="text-line-4">  Adipisicing elit. Perspiciatis officiis necessitatibus nihil, ab veniam repellendus? Quisquam velit expedita atque, eum incidunt enim voluptate sint corporis placeat quia odit minima necessitatibus!</a>
                                        </h3>
                                  
                                        
                                    </div>
                                </div>
                        
                            </div>
                            <div class="featured-item">
                                <div class="flex-container">
                                    <div class="cell-1-3">
                                        <a href="#" class="img-shine">
                                            <img src="/uploaded/tin-tuc/item1.png" width="100%" alt="Tiêu đề bài viết tin tức hiển thị tại đây 005" class="image-news-left">
                                        </a>
                                    </div>
                                    <div class="cell-2-3">
                                        <h3>
                                            <a href="#" class="text-line-4">  Adipisicing elit. Perspiciatis officiis necessitatibus nihil, ab veniam repellendus? Quisquam velit expedita atque, eum incidunt enim voluptate sint corporis placeat quia odit minima necessitatibus!</a>
                                        </h3>
                                  
                                        
                                    </div>
                                </div>
                        
                            </div>
                        
                        
                        </div>
                    </div>
                </div>
            </div>
        <div class="c30"></div>
        <div class="c30"></div>
            </div>
            <div class="otheraticle-wrapper">
                <div class="c30"></div>
                   <div class="grid">
                    <div class="homecat-title">
                        Bài viết cùng danh mục
                    </div>
                <div class="c30"></div>
                <div class="flex-container">
                    <div class="cell-1-3 tab-cell-1-1">   
                        <div class="aticle-item">
                            <div class="aticle-img">
                                <a href="#" class="img-shine">
                                    <img src="/uploaded/tin-tuc/item9.png" width="100%" alt="Khóa học Xuất nhập khẩu 01">
                                </a>
                            </div>
                            <div class="aticle-content">
                                <h2 class="aticle-name text-line-2">
                                    <a href="#">
                                        Lorem ipsum dolor sit amet cons ecetur adiscing elit eiusmod.
                                        
                                    </a>
                                </h2>
                                <div class="aticle-intro text-line-2">
                                    Tempor incididunt labore et dolore magna aluis ipsum suspen disse ultrices gravida commodo viverra ma...
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="cell-1-3 tab-cell-1-1">   
                        <div class="aticle-item">
                            <div class="aticle-img">
                                <a href="#" class="img-shine">
                                    <img src="/uploaded/tin-tuc/item9.png" width="100%" alt="Khóa học Xuất nhập khẩu 01">
                                </a>
                            </div>
                            <div class="aticle-content">
                                <h2 class="aticle-name text-line-2">
                                    <a href="#">
                                        Lorem ipsum dolor sit amet cons ecetur adiscing elit eiusmod.
                                        
                                    </a>
                                </h2>
                                <div class="aticle-intro text-line-2">
                                    Tempor incididunt labore et dolore magna aluis ipsum suspen disse ultrices gravida commodo viverra ma...
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="cell-1-3 tab-cell-1-1">   
                        <div class="aticle-item">
                            <div class="aticle-img">
                                <a href="#" class="img-shine">
                                    <img src="/uploaded/tin-tuc/item9.png" width="100%" alt="Khóa học Xuất nhập khẩu 01">
                                </a>
                            </div>
                            <div class="aticle-content">
                                <h2 class="aticle-name text-line-2">
                                    <a href="#">
                                        Lorem ipsum dolor sit amet cons ecetur adiscing elit eiusmod.
                                        
                                    </a>
                                </h2>
                                <div class="aticle-intro text-line-2">
                                    Tempor incididunt labore et dolore magna aluis ipsum suspen disse ultrices gravida commodo viverra ma...
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="c30"></div>
                <div class="c30"></div>
            </div>
        </div>

      </div>
       <!-- end content -->


    <div class="c"></div>

    <!-- footer -->
    <footer class="footer">
      <div class="footer-main">
        <div class="grid">
          <div class="flex-container">
        
            <div class="cell-1-1">
              <div class="logo-footer">
                <a href="/">
                    <img src="/uploaded/logo/logo.png" alt="">
                </a>
                Trường TH, THCS và THPT <br>
            Thực Nghiệm Khoa học Giáo dục
            </div>
            </div>

            
            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">

                <div class="c20"></div>
                <div class="footer-title footer-title-mobile" rel="ct">
                Thông tin liên hệ
                </div>
                <div class="info">       
                  <i class="fas fa-map-marker-alt"></i>  Số 50-52 Liễu Giai, Ba Đình, Hà Nội
                  </div>
                  <div class="info">
                    <i class="fas fa-phone-alt"></i> 0243.7628007 
                 </div>
                  <div class="info">
                 
                    <i class="far fa-envelope"></i>  thucnghiemkhgd@gmail.com
  
                    
                  </div>
                  <div class="info">
                 
                    <i class="fa-regular fa-globe"></i>  http://www.thucnghiem.edu.vn
  
                    
                  </div>
           
              </div>
              
            </div>
            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
                <div class="footer-title footer-title-mobile" rel="ct">
                 Nhà trường
                </div>             
                <ul class="menuboxfooter" id="">
                  <li><a href="">   Giới thiệu chung</a></li>
                  <li><a href=""> Tầm nhìn phát triển </a></li>
                  <li><a href=""> Đội ngũ giáo viên</a></li>
                  <li><a href=""> Cơ sở vật chất</a></li>
                  
                 
                </ul>
              </div>
              
            </div>

         



            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
                <div class="footer-title footer-title-mobile" rel="ct">
                Thông tin chung
                </div>             
                <ul class="menuboxfooter" id="">
                  <li><a href="">    Tin tức - Thông báo</a></li>
                  <li><a href=""> Hoạt động nhà trường </a></li>
                  <li><a href="">Thư viện</a></li>
                  <li><a href=""> Tư vấn học đường</a></li>
                  
                 
                </ul>
              </div>
              
            </div>
           
            <div class="cell-1-4 tab-cell-1-1">
            <div class="footer-title footer-title-mobile" rel="ct">
             Tuyển sinh
              
           </div>
           <ul class="menuboxfooter" id="">
            <li><a href="">   Thông tin tuyển sinh
             </a></li>
            <li><a href="">  Thông tin thi THPT Quốc Gia
            </a></li>
            <li><a href="">Tuyển sinh Đại học, Cao đẳng</a></li>
         
            
           
          </ul>
          
        </ul>
          <div class="c20"></div>
      
          </div>
        </div>
        </div>
      </div>
      <div class="grid">
        
      <div class="footer-end">
          
            <div class="flex-container flex-flex-start align-center">
              <div class="cell-1-2">
                  <div class="coppy-right">
                    © Thuc Nghiem Khoa Hoc Giao Duc 2009-2021. All Rights Reserved.
                  </div>
              </div>
              <div class="cell-1-2 tab-cell-1-1">
              
                <ul class="footer-social">
                  <li>
                      <a href="#" target="_blank" class="footer-social__item hvr-float">
                        <img src="/images/facebook.png" alt="">
                      </a>
                  </li>
                  <li>
                      <a href="#"  target="_blank" class="footer-social__item hvr-float">
                         <img src="/images/likedin.png" alt="">
                      </a>
                  </li>
                  
                  <li>
                      <a href="h#" class="footer-social__item hvr-float" target="_blank"  >
                       <img src="/images/instagram.png" alt="">
                      </a>
                  </li>
      
                   
                
            </div>
           
            </div>
          </div>
      </div>
      <div class="c10"></div>

    </footer>
    <!-- end footer -->
          </div>

</div>
  <link rel="stylesheet" href="/css/jquery.fancybox.css" />
  <script src="/js/jquery.fancybox.js"></script>
  <link rel="stylesheet" href="/css/hover.css" />



  <div id="button-btt">
    <a href="#"><i class="fa fa-chevron-up"></i> <span>Back to top</span></a>
</div>

 

  
</body>

</html>
